.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 80px 40px 80px 40px;
}
.form-data {
  background-color: #cecece;
  width: 50%;
  min-width: 160px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
}
h1 {
  margin-top: 20px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  font-weight: 100;
  font-size: 4ch;
}

button {
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  background: linear-gradient(140deg, red);
  cursor: pointer;
}
/* .button {
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  width: 150px;
  height: 48px;
  color: #000;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  position: relative;
  outline: none;
  box-shadow: 0 6px #cecece;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
} */
button:hover {
  background: #fff;
  outline: none;
  box-shadow: 0 4px #cecece;
}
label {
  text-align: center;
}

input,
textarea {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 2px solid white;
  margin-top: 10px;
}
select {
  width: 30%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
} */

/* @media (max-width: 500px) {
  input,
  textarea,
  select {
    max-width: 150px;
  }
  h1 {
    font-size: 2ch;
  }
} */
/* @media (font-weight: 40) {
  h1 {
    font-weight: 20;
  }
} */
